@model IEnumerable<tocatu.Models.Evento>

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="text-center">Eventos</h1>

    <div class="d-flex flex-lg-wrap">
        @foreach (var item in Model)
        {
            <div style="width: 300px;" class="border border-secondary rounded   m-2">
                <img class="photo-display-img" src="@Url.Action("GetImage", "Evento", new { Id = item.EventId })" />
                <div class="p-2">
                    <h5 class="mt-1">@Html.DisplayFor(modelItem => item.Descripcion)</h5>
                    <time datetime="2022-10-31"><span>@Html.DisplayFor(modelItem => item.Fecha)</span>, <span>@Html.DisplayFor(modelItem => item.Hora)hs</span> </time>
                    <p><span>@Html.DisplayFor(modelItem => item.BarId)</span> • <span>@Html.DisplayFor(modelItem => item.Direccion)</span></p>
                    <span>$@Html.DisplayFor(modelItem => item.PrecioEntrada)</span>
                </div>
            </div>
        }
    </div>

</div>

